doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Control de Inventario - RYCLATAM | ACCESO
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/estilos.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    body
        #wrapper
            nav.navbar.navbar-cls-top(role='navigation')
                .navbar-header
                    a(href='/')
                        img(src='/images/logolatam.png' width='90' alt='RYCLATAM logo')
        #page-inner.row
            .well.col-md-6.col-md-push-4.col-xs-10.col-xs-push-1
                h3.text-center Acceso
                hr
                .row(style='margin-right: 0 !important; margin-left: 0 !important')
                    .col-sm-8.col-sm-push-2
                        form.form-signin(role="form" method="post" action="/acceso")
                            input.form-control.text-center(type="text" name="inpUsuario" placeholder="Nombre de usuario"
                            required autofocus)
                            br
                            input.form-control.text-center(type="password" name="inpClave" placeholder="Contraseña"
                                required)
                            br
                            button.btn.btn-primary.center-block(type="submit")
                                span.glyphicon.glyphicon-lock
                                span &nbsp;&nbsp; Iniciar sesión
                            br
                            br
                if(errorCode==1)
                    .row
                        .col-xs-12
                            .alert.alert-danger
                                button.close(type='button', data-dismiss='alert')
                                    span(aria-hidden='true') &times;
                                p.text-center El usuario y/o la contraseña son incorrectos.
                else if(errorCode==2)
                    .row
                        .col-xs-12
                            .alert.alert-warning
                                button.close(type='button', data-dismiss='alert')
                                    span(aria-hidden='true') &times;
                                p.text-center
                                    | Ya existe una sesión activa para este usuario. No se permite sesión múltiple.
                else if(errorCode==3)
                    .row
                        .col-xs-12
                            .alert.alert-info
                                button.close(type='button', data-dismiss='alert')
                                    span(aria-hidden='true') &times;
                                p.text-center Su sesión anterior ha expirado.
                else if(errorCode==4)
                    .row
                        .col-xs-12
                            .alert.alert-info
                                button.close(type='button', data-dismiss='alert')
                                    span(aria-hidden='true') &times;
                                p.text-center Error inesperado. No es posible iniciar o recuperar la sesión.
                #notificacion.row.hidden
                    .alert.alert-danger.col-md-12
                        button(type='button' class='close' data-dismiss='alert') &times;
                        h4.text-center
                        .text-center
                            span#nota
        #credits.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Créditos' aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header.alert.alert-info
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') &times;
                            span.sr-only Cerrar
                        h4#credits-title.modal-title
                            span Control de Inventario v2.0
                    .modal-body
                    .modal-footer
                        button.btn.btn-primary(type='buton', data-dismiss='modal') Aceptar
        .panel-footer.text-info.navbar-fixed-bottom
            p.text-center
                span &copy; #{currentYear} &nbsp;&nbsp;
                    a(href='#acerca') Control de Inventario
                br
                span Reclutamiento y Capacitación LATAM S.A. de C.V.&nbsp;
                br
                input#status(type='hidden' val='#{status}')
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/bootstrap.min.js')
        script.
            $(function () {
                var valor = $('#status').val();
                if (valor == 1) {
                    $("#notificacion").removeClass("hidden");
                    $("#notificacion h4").html("Datos incorrectos");
                    $("#nota").html('El nombre de usuario y/o la contraseña son incorrectos.');
                    $("#caja-login input").val("");
                }
                if (valor == 2) {
                    $("#notificacion").removeClass("hidden");
                    $("#notificacion h4").html("");
                    $("#nota").html('El usuario ya tiene una sesión activa');
                    $("#caja-login input").val("");
                }
                $("a[href='#acerca']").click(function () {
                    var htmlContent = '<div class="row">' +
                            '<div class="col-xs-5 col-xs-push-1">' +
                            '<h3>Créditos:</h3><br>' +
                            '<ul class="list-unstyled">' +
                            '<li>' +
                            '<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;' +
                            '<strong>Daniel HConstantino</strong>' +
                            '<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +
                            '<span>Lead application developer</span>' +
                            '</li>' +
                            '<br>' +
                            '<span></span>' +
                            '</div>' +
                            '<div class="col-xs-6"><br><br><br>' +
                            '<h3 class="text-right">PoweredBy:</h3>' +
                            '<img src="/images/expressnodejs.jpg" class="img-responsive" />' +
                            '<img src="/images/tux.jpeg" class="img-responsive" width="80" align="right"/>' +
                            '</div>' +
                            '</div>';
                    $("#credits").modal('show');
                    $(".modal-body").html(htmlContent);
                });
            });