#header-banner
    color white
    float right
    font-size 16px
    margin-right 20px
    margin-top 15px
i
    vertical-align middle
a
    cursor pointer
    text-decoration none
a:hover
    text-decoration none
textarea
    resize none
.row
    margin-left 0 !important
    margin-right 0 !important
.action-selected
    background #dddddd
    padding 5px

.txt-latam
    color #ffffff
    text-transform uppercase

.text-uppercase
    text-transform uppercase

.panel-footer
    background #4d4d4d
    color: white

.panel-footer p
    font-size 12px !important

.panel-footer a, .panel-footer a:hover
    color: white